@import '../app/colors.scss';
@import '../app/media-breaks.scss';
@import '../app/layout-params.scss';

$spacing: 2px;

$width-mobile: calc(100% / 3 - 3 * #{$spacing});
$width-tablet: calc(100% / 4 - 2 * #{$spacing});
$width-desktop: calc(100% / 6 - 2 * #{$spacing});

/* gallery */
.gallery {
  .gallery-title {
    h6 {
      font-size: 14px;
      font-weight: 300;
      margin: 0;
      margin-bottom: 3px;
    }
  }

  .gallery-container {
    margin-bottom: $footer-height;

    .gallery-photos {
      flex-direction: row;
      flex-wrap: wrap;
      margin: -#{$spacing};

      .gallery-photo {
        cursor: pointer;
        flex: 1 1 auto;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: $spacing;
        width: $width-desktop;
        padding-bottom: $width-desktop;
        @media screen and (max-width: $break-tablet)
        {
          width: $width-tablet;
          padding-bottom: $width-tablet;
        }
        @media screen and (max-width: $break-mobile)
        {
          width: $width-mobile;
          padding-bottom: $width-mobile;
        }

        span {
          display: none;
        }

        &.photo-select {
          display: block;
          position:relative;

          &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: rgba(0, 0, 0, 0.2);
          }

          span {
            display: block;
            color: white;
            position: absolute;
            padding-top: 5px;
            padding-left: 5px;
          }

          &.selected {
            &:after {
              background-color: rgba(255, 255, 255, 0.2);
            }

            span {
              color: $lighter;
            }
          }
        }

        a.hidden {
          display: none;
        }
      }
    }
  }
}

/* gallery modal */
$modal-padding: 0px;

.rrm-holder {
  z-index: 9999 !important;

  .scroll {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rrm-shadow {
    background-color: rgba(0, 0, 0, 1) !important;
  }

  .rrm-content {
    border-radius: 0 !important;
    background-color: transparent !important;

    &.m-large {
      margin: 0 auto !important;

      .rrm-body { // override the modal built-in padding in order to be able to calculate the img size below
        padding: $modal-padding !important;
      }
    }
  }
}

.photo-modal {
  background-repeat: no-repeat;
  background-size: contain;
}

.gallery-modal-nav {
  width: 100vw;
  height: 100vh;
  z-index: 99990;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;

  .action {
    &.action-prev {
      padding-left: 5vw;
    }

    &.action-next {
      padding-right: 5vw;
    }

    a {
      color: rgba(255, 255, 255, 0.3);

      &:hover {
        color: rgba(255, 255, 255, 0.9);
      }
    }
  }
}
