@import '../app/layout-params.scss';

footer {
  position: fixed;
  height: $footer-height;
  background-color: #fff;
  width: 100%;
  bottom: 0;

  .tabs {
    height: 100%;
    align-items: center;

    div {
      width: 100%;
      text-align: center;
    }
  }
}
